<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chapter_23_of_Algorithm/src/minimal_spanning_tree/TestMSTPrim.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="minimal_spanning_tree.TestMSTPrim"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chapter_23_of_Algorithm"/>
</launchConfiguration>
